
.bidul-o-tron {
  position: absolute;
  width: 1280px;
  height: 800px;
  border: 2px solid black;
  display: flex;
  flex-flow: column;
  align-self: center;
  background:  white url('./img/machine_squelette.png') no-repeat;
  color: black;
  z-index: 0;

  h1 {
    position: absolute;
    text-transform: uppercase;
    padding: 0.3em;
    margin: 0;
    border-bottom: 5px solid rgb(42,228,123);
    top: 28px;
    left: 40px;
    font-size: 18pt;
    transform: skew(2deg, 3deg);
  }

  .machine {
    position: relative;
    flex: 1;

    .fiole {
      position: absolute;
      width: 26px;
      height: 27px;

      &.fiole-1 {
        background: transparent no-repeat center center url('./img/fioles/fiole-1.gif');
        top: 558px;
        left: 500px;
      }
    }
  }

  .control-panel {
    background: rgba(255, 255, 0, 0.1);
    width: 100%;
    height: 200px;
  }
}